@use '../../../styles/abstracts' as *;

.tag {
  @include flex-center;
  gap: 4px;
  width: fit-content;
  padding: 6px;
  border-radius: 6px;
  background-color: $creme-main;

  &--chef1 {
    background-color: $green-cremy;
  }
  &--chef2 {
    background-color: $rose;
  }
  &--chef3 {
    background-color: $mustard-03;
  }
  &--chef4 {
    background-color: $green-recipe-04;
  }
  &--tag {
    padding: 6px 12px;
    border-radius: 30px;
    background-color: $green-main-02;
  }

  &__label {
    @include f-text(rem(18), $green-dark, 500);
  }
}

.heart {
  background-color: $green-main-03;

  &__label {
    @include f-text(rem(16), $green-main, 500);
  }
}
