@use '../../../styles/abstracts' as *;

.chip {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;

  &__input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;

    &:focus-visible + .chip__label {
      outline: 2px solid $green-dark;
      outline-offset: 2px;
    }

    &:checked + .chip__label {
      background-color: $green-main-02;
      color: $green-dark;
    }
  }

  &__label {
    color: $green-dark;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 999px;
    background-color: $creme-main;
    cursor: pointer;
    @include animation(background-color);

    &:hover {
      background-color: $creme-primary-hover;
      color: $green-middle;
    }
  }

  &__caption {
    color: $green-dark;
    font-weight: 400;
  }
}
