@use '../../../styles/abstracts' as *;

:host {
  @include page-bg($green-main);
}

.body {
  &__landing {
    min-height: 100dvh;
    max-width: $max-dp-width;
    margin: 0 auto;
  }

  &__content {
    padding-top: clamp(12px, 2vw, 40px);
    padding-left: clamp(16px, 2vw, 68px);
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(100px, auto));
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: clamp(40px, 10vw, 64px);
  margin-top: clamp(64px, 15vw, 104px);
}

.dishes {
  height: 100dvh;
  overflow: hidden;

  &__img {
    width: clamp(450px, calc(-4.67vw + 547.29px), 580px);
    transform: translateY(-5%);
    object-fit: cover;
    object-position: center;
  }
}

.title {
  display: flex;
  flex-direction: column-reverse;
  gap: 16px;

  &--first {
    color: $creme-yellow;
    font-weight: 700;
  }
  &--second {
    color: $creme-yellow;
    font-weight: 600;
  }
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;

  &__description {
    color: $creme-main;
    font-weight: 500;
    padding: 16px 26px;
  }
}
