@use '../../../styles/abstracts' as *;

:host {
  @include page-bg($green-olive);
}

.body {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
}

.loading-spinner {
  align-self: center;
}

.result {
  &__header {
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    grid-template-areas:
      'title'
      'img'
      'description'
      'tags';
    @include respond-to(800px) {
      grid-template-areas:
        'title img'
        'description img'
        'tags img';
    }
    gap: $space16-24;
  }

  &__recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: $space16-24;
  }
}

.header {
  &__img {
    max-width: 574px;
    width: 100%;
    border-radius: 20px;
    grid-area: img;
    justify-self: center;
  }

  &__title {
    color: $creme-main;
    font-weight: 600;
    grid-area: title;
  }

  &__description {
    color: white;
    font-weight: 400;
    grid-area: description;
  }

  &__tags {
    grid-area: tags;
  }
}
