@use '../../../styles/abstracts' as *;

:host {
  @include page-bg($green-olive);
}

.body {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100dvh;
}

.loading-spinner {
  align-self: center;
}

.result {
  &__header {
    &--title {
      color: $creme-main;
      font-weight: 600;
    }

    &--description {
      color: white;
      font-weight: 400;
    }
  }

  &__recipes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: $space16-24;
  }
}

.header {
  &__info {
    display: flex;
    flex-direction: column;
  }

  &__img {
    max-width: 574px;
    width: 100%;
    border-radius: 20px;
  }
}
