@use '../../../styles/abstracts' as *;

.generate {
  display: grid;
  gap: clamp(40px, 10vw, 64px);
  padding-top: 24px;

  &__title {
    color: $green-middle;
    font-weight: 600;
  }

  &__description {
    color: $green-dark;
    font-weight: 600;
  }

  &__container {
    display: grid;
    justify-items: center;
    gap: 24px;
  }
}

.next-button {
  justify-self: center;
}
