<div class="dropdown" [style.--dropdown-height]="height()">
  <button
    (click)="toggle()"
    [attr.aria-controls]="listboxId"
    [attr.aria-expanded]="isOpen()"
    aria-haspopup="listbox"
    class="dropdown__btn btn"
    [style.--dropdown-height]="height()"
    type="button"
  >
    <span class="dropdown__value text-sm">{{ displayLabel() }}</span>
    <svg [class.is-open]="isOpen()" aria-hidden="true" class="dropdown__icon" fill="none" viewBox="0 0 10 5" xmlns="http://www.w3.org/2000/svg">
      <path d="M5 5L10 0L0 0L5 5Z" />
    </svg>
  </button>
  <ul [attr.id]="listboxId" [class.is-open]="isOpen()" class="dropdown__menu" role="listbox">
    @for (item of options(); track item) {
      <li class="dropdown__option" role="presentation">
        <button
          (click)="selectOption(item)"
          [attr.aria-selected]="selectedValue() === item"
          class="dropdown__option--btn btn text-sm"
          role="option"
          type="button"
        >
          {{ item }}
        </button>
      </li>
    }
  </ul>
</div>
