@use '../../../styles/abstracts' as *;

.stepper {
  @include flex-center;
  gap: 12px;

  &__btn {
    @include flex-center;
    padding: 6px;
    border-radius: 4px;

    &:hover {
      background-color: $green-white;
    }

    &:active {
      background-color: $green-salbei;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $green-dark;
  }

  &__value {
    @include flex-center;
    gap: 8px;
    @include f-text(rem(20), $green-dark, 500);

    &--numb {
      background-color: $green-main-02;
      min-width: 22px;
      padding: 1px 4px;
      text-align: center;
    }
  }
}
