@use 'variables' as *;

.theme[data-theme='green'] {
  --icon-fill: #{$green-middle};
  --bg-hover: #{$secondary-bg-hover};
  --txt-color: #{$green-middle};
  --title: #{$creme-main};
}

.theme[data-theme='creme'] {
  --icon-fill: #{$creme-main};
  --bg-hover: #{$secondary-bg-hover};
  --txt-color: #{$creme-main};
  --title: #{$green-middle};
}
