// ##### Colors #####
// green
$green-main: rgba(57, 96, 57);
$green-main-02: rgba($green-main, 0.2);
$green-main-04: rgba($green-main, 0.4);
$secondary-bg-hover: rgba($green-main, 0.1);
$green-secondary-hover: rgba($green-main, 0.1);
$green-light-bg: rgba($green-main, 0.3);
$green-middle: rgba(30, 85, 21);
$green-olive: $green-main;
$green-primary-hover: rgba(5, 94, 5);
$green-recipe: rgba(0, 128, 0);
$green-dark: rgba(16, 49, 11);
$green-dark-04: rgba($green-dark, 0.4);
$green-white: rgba(231, 236, 231);
$green-cremy: rgba(215, 223, 215);
$green-cremy09: rgba($green-cremy, 0.9);

$green-salbei: rgba(196, 208, 196);
$green-salbei-light: rgba($green-salbei, 0.4);

//creme
$creme-main: rgba(250, 240, 230);
$creme-main-08: rgba($creme-main, 0.8);
$creme-main-06: rgba($creme-main, 0.6);
$creme-main-04: rgba($creme-main, 0.4);
$creme-yellow: rgba(245, 245, 220);
$creme-primary-hover: rgba(250, 224, 198);
$creme-secondary-hover: rgba($creme-primary-hover, 0.2);

$creme-white: rgba(255, 254, 254);
$white: white;

//paprika (validation)
$paprika: rgba(168, 68, 42);

//BreakPoints
$breakpoint-sm: 500px;
$breakpoint-md: 800px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$max-dp-width: 1440px;
$lg-dp-width: 1332px;

$z-index-dropdown: 1000;
$z-index-modal: 1050;
$z-index-toast: 1100;

// Animation
$animation-time: 250ms;

// Fonts
$f-txt: 'Quicksand', sans-serif;
$f-title: 'Ubuntu', sans-serif;

// Spacing

$space16-24: clamp(16px, 2vw, 24px);
