$breakpoint-sm: 500px;
$breakpoint-md: 800px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$max-dp-width: 1220px;
$lg-dp-width: 1042px;

$z-index-dropdown: 1000;
$z-index-modal: 1050;
$z-index-toast: 1100;

$animation-time: 250ms;
