* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.d-none {
  display: none;
  visibility: hidden;
}
