<app-body-wrapper>
  <main-header backLink="/generate-recipe" backLinkName="Ingredients"></main-header>
  <main class="body">
    <h1>Choose your preferences</h1>
    <form>
      <fieldset>
        <legend>How many portions you need?</legend>
        <app-stepper [(value)]="portions" [min]="1" label="Portions" />
      </fieldset>
      <fieldset>
        <legend>How many are coocking?</legend>
        <app-stepper [(value)]="persons" [min]="1" [max]="4" label="Person" />
      </fieldset>

      <article>
        <fieldset>
          <div>
            <img src="" alt="watch icon" />
            <legend>Coocking time</legend>
          </div>
          <section class="chip-group">
            @for (opt of cookingTimeOptions; track opt.value) {
              <app-chip
                [label]="opt.label"
                [caption]="opt.caption"
                [checked]="cookingTime().includes(opt.value)"
                (toggled)="toggleSelection(cookingTime, opt.value)"
              />
            }
          </section>
        </fieldset>

        <fieldset>
          <div>
            <img src="" alt="world icon" />
            <legend>Cousine</legend>
          </div>
          <section class="chip-group">
            @for (opt of cuisineOptions; track opt.value) {
              <app-chip
                [label]="opt.label"
                [checked]="cuisine().includes(opt.value)"
                (toggled)="toggleSelection(cuisine, opt.value)"
              />
            }
          </section>
        </fieldset>

        <fieldset>
          <div>
            <img src="" alt="fork and spoon" />
            <legend>Diet preferences</legend>
          </div>
          <section class="chip-group">
            @for (opt of dietOptions; track opt.value) {
              <app-chip
                [label]="opt.label"
                [checked]="diet().includes(opt.value)"
                (toggled)="toggleSelection(diet, opt.value)"
              />
            }
          </section>
        </fieldset>
      </article>

      <!--  -->
    </form>
  </main>
</app-body-wrapper>
