<div class="body">
  <form class="form greenbg">
    <fieldset class="fieldset fieldset--ingredient">
      <label for="ingredient" class="fieldset__label">Ingredient</label>
      <input type="text" id="ingredient" class="fieldset__input" />
    </fieldset>

    <fieldset class="fieldset">
      <label for="serving_size" class="fieldset__label">Serving size</label>

      <section class="fieldset--row">
        <input type="text" id="serving_size" class="fieldset__input input-sm" placeholder="100" />
        <app-dropdown-component className="fieldset__dropdown"></app-dropdown-component>
        <app-button icon="add" theme="creme" className=" btn__add btn--square"></app-button>
      </section>
    </fieldset>
  </form>

  <article class="greenbg form__list">
    <h2 class="form__list--title">List of your Ingredients</h2>
    <ul class="list">
      <!-- todo creat the for loop for the ingredients list -->
      <li class="list__element">
        <div class="list__element--container">
          <p>100g</p>
          <p>Pasta</p>
          <div class="list__actions">
            <!-- todo create edit button -->
            <app-button icon="edit" className="btn__edit btn--square"></app-button>
            <app-button icon="bin" className="btn__bin btn--square"></app-button>
          </div>
        </div>
      </li>
    </ul>
  </article>
</div>
