@use '../abstracts' as *;

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  &__primary {
    padding: 16px 26px;
    @include flex-center;
    @include f-text(rem(24), white, 600);
    &--green {
      background-color: $green-olive;
    }
    &--creme {
      background-color: $creme-main;
      color: $green-recipe;
      @include animation(all);
      width: 186px; // todo - check if it is okay that the btn is growing
    }
  }
}

// Hoverstates

.btn__primary--creme:hover {
  background-color: $creme-primary-hover;
  font-weight: 700;
}
