@use '../abstracts' as *;

.fieldset {
  border: none;

  &__input {
    display: flex;
    width: 100%;

    border: none;
    border-radius: 20px;
    background-color: $creme-main-08;
    @include f-text(clamp(rem(16), 2vw, rem(18)), $green-dark-04, 500);
    padding: 8px 12px;

    &:focus {
      outline: solid 2px $green-dark-04;
    }
  }
}

.input-sm {
  max-width: 60px;
  min-width: 54px;
}
