@use '../../../styles/abstracts' as *;

:host {
  @include page-bg(white);
}

.recipe {
  display: grid;
  justify-content: center;
  gap: $spaceing40-48;
  background-color: $creme-main-02;
  border-radius: 20px;
  padding: 4px;
  @include respond-to(sm) {
    padding: $spaceing0-48;
  }
  border: solid 3px $creme-main;

  &__details {
    max-width: $max-recipe-width;
    color: $green-middle;
    padding: 24px;
    background-color: $creme-main;
    border-radius: 20px;
    display: grid;
    gap: 16px;
    grid-template-areas:
      'time'
      'title'
      'chefs'
      'nutrition'
      'tags';
    @include respond-to(lg) {
      grid-template-columns: 1.5fr 1fr;
      grid-template-areas:
        'time time'
        'title tags'
        'title nutrition'
        'chefs nutrition';

      .details__nutrition {
        margin-top: 0;
      }
    }
  }
}

.details {
  &__title {
    grid-area: title;
  }

  &__tags {
    grid-area: tags;
    @include flex-center;
    justify-content: flex-start;
  }

  &__nutrition {
    grid-area: nutrition;
    margin-top: 32px;
    color: $green-dark;
    @include f-text(clamp(rem(18), 2.5vw, rem(20)), $green-dark, 600);
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__time {
    grid-area: time;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  &__chefs {
    grid-area: chefs;
    @include flex-center;
    justify-content: flex-start;
    gap: 16px;
  }
}

.chefs {
  &__title {
    display: none;
    @include respond-to(md) {
      display: block;
    }
  }
}

.nutrition {
  &__title {
    @include f-text(rem(18), $green-dark, 500);
  }

  &__table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    column-gap: $spaceing16-24;
    row-gap: 16px;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__data {
    @include respond-to(md) {
      font-weight: 500;
    }
  }
}

.is-collapsed {
  @media (max-width: #{$breakpoint-lg - 1}) {
    display: none;
  }
}

.recipe__toggle {
  @include respond-to(lg) {
    display: none;
  }
}

.tags {
  @include flex-center;
  justify-content: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.ingredients {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  column-gap: $spaceing40-80;
  row-gap: 24px;

  &__container {
    display: grid;
    justify-content: center;
    width: 100%;
    border: solid red 1px; //todo delete only for testing
  }

  &__title {
    color: $green-recipe;
    text-align: center;
  }

  &__list {
    padding-left: 20px;
  }

  &__item {
    list-style-type: disc;
  }
}
